<h1>Events List</h1>
<%= link_to 'New Event', new_event_path %>
<table>
	<tr>
		<th>EventName</th>
		<th>#OfPeople</th>
		<th>When</th>
		<th>Where</th>
		<th>Description</th>
	</tr>
 
  <% @events.each do |event| %>
    <tr>
		<td><%= event.name %></td>
		<td><%= event.numberofpeople %></td>
		<td><%= event.when %></td>
		<td><%= event.where %></td>
		<td><%= event.description %></td>
		<td><%= link_to 'Show', event %></td>
		<td><%= link_to 'Edit', edit_event_path(event) %></td>
		<td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>